name: "Test Terramaid Outputs"

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  test_aws:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: hashicorp/setup-terraform@v3
      - uses: actions/setup-go@v5
        with:
          go-version-file: "go.mod"
          cache: false
      - run: |
          make build
          build/terramaid -w test/aws
          cat Terramaid.md
  test_gcp:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: hashicorp/setup-terraform@v3
      - uses: actions/setup-go@v5
        with:
          go-version-file: "go.mod"
          cache: false
      - run: |
          make build
          build/terramaid -w test/gcp
          cat Terramaid.md
  test_az:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: hashicorp/setup-terraform@v3
      - uses: actions/setup-go@v5
        with:
          go-version-file: "go.mod"
          cache: false
      - run: |
          make build
          build/terramaid -w test/az
          cat Terramaid.md
